{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title_page|upper| default:"Хатка Бегемота" }}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    {% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
<div class="header"><img class="menu_logo" src="{% static 'img/pink_begemot.jpg' %}" alt="picture">
    <div class="navigation">
        <ul class="menu">
            <li><a href="{% url 'index' %}">главная</a></li>
            <li><a href="{% url 'cotalogs' %}">каталог</a></li>
            <li><a href="{% url 'contacts' %}">контакты</a></li>
        </ul>
    </div>

</div>
{% block container %}
{#   уникальное содержимое #}
{% endblock %}
<div class="footer">
    <hr>
    <div class="rights">
        <h6>&copy;«Все права защищены» {% now " F Y " %}</h6></div>
</div>
</body>
</html>