<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="header"><img class="menu_logo" src="/static/img/pink_begemot.jpg" alt="picture">
    <div class="navigation">
        <ul class="menu">
            <li><a href="/">главная</a></li>
            <li><a href="/cotalogs/">каталог</a></li>
            <li><a href="/contacts/">контакты</a></li>
        </ul>
    </div>
    <div>
        <hr>
    </div>
</div>
</div>
{% block container %}
    {#   уникальное содержимое #}
{% endblock %}
<div class="footer">
    <hr>
    <div class="rights">
        <h6>&copy;«Все права защищены»</h6></div>
</div>
</body>
</html>