{% extends 'mainapp/base.html'%}
{% block container %}
<div class="conotent_contacts">
    <form action="#">
        <h2>Напишите нам </h2> Ваше имя:
        <input type="text" placeholder="Жан Батист Клод Шарден" class="input_contact">
        <br>
        <br> Email:
        <input class="E-mail" type="text" placeholder="bebebе@gov.ru">
        <br> M
        <input type="radio" name="sex">
        <br> Ж
        <input type="radio" name="sex">
        <br>
        <br> Тема
        <input type="text" placeholder="Святые печенюшки" class="input_contact">
        <br>
        <br> Напиши сюда что-нибдуь:
        <br>
        <textarea cols="100" rows="10" class="text_contact"></textarea>
        <br>
        <br>
        <input class="button" type="submit" name="" id="">
        <input class="button" type="reset"></form>
    <h2>Адрес</h2>
    <ul id="address">
        <li>Контактный номер телефона интернет-магазина: 17-85-00</li>
        <li> Aдрес: туда-туда, потом на лево, через поле, направо от третьей пальмы хатка 15</li>
        <li>E-mail: Begemotina@nightmail.ru</li>
    </ul>
    <h2>как нас найти </h2> <a
        href="https://yandex.ru/maps/?um=constructor%3A60b04cf473c8e6b9e4b9b8ebe9a2f1708fdabcea38bd990074659e3178ecbec6&source=constructorLink"
        target="_blank">Мы тут</a>
    <br>
    <br>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A60b04cf473c8e6b9e4b9b8ebe9a2f1708fdabcea38bd990074659e3178ecbec6&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>
{% endblock %}
