{% extends 'mainapp/base.html' %}
{% block container %}
   <div class="content_index">
            <h1>Хатка Бегемота</h1>
            <br> <img id="main" src="/static/img/pink_begemot.jpg" alt="picture">
            <h3>Немого о нас </h3>
            <p class="short_discription"><i>Это интернет палатка которая будет барыжить фонарями</i></p>
            <h3>Что тут такое и с чем это едят</h3>
            <p class="full_discription"> <i>Если вы&nbsp;видите этот текст, значит я&nbsp;все еще занимаюсь палаткой. Все тексты и&nbsp;прочую штуку, я&nbsp;стащил с&nbsp;сайта произовдителя, но&nbsp;я&nbsp;его сюда сувать не&nbsp;буду, все равно оно вам не&nbsp;надо.
            <br>Если мне не&nbsp;будет очень лень, то&nbsp;возможно я&nbsp;переделаю эту штуку в&nbsp;палатку по&nbsp;продаже, <nobr>какой-нибудь</nobr> не&nbsp;рельной чепухи..</i></p>
        </div>
{% endblock %}