<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Хатка</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> </head>

<body>
    <div class="header"> <img class="menu_logo" src="/static/img/pink_begemot.jpg" alt="picture">
        <div class="navigation">
            <ul class="menu">
                <li><a href="/">главная</a></li>
                <li><a href="/cotalogs/">каталог</a></li>
                <li><a href="/contacts/">контакты</a></li>
            </ul>
        </div>
        <div>
            <hr> </div>
    </div>
    <h3>Каталог фонариков</h3>
    <div class="conotent_catalog">
        <div class="light-item">
            <a href="#"> <img src="/static/img/csm_esprite-fs-01_1a739cd840.png" title="esprite" alt="esprite"></a>
            <br> <a href="#">ESPRITE™ FS</a></div>
        <div class="light-item">
            <a href="#"><img src="/static/img/csm_tetra1-01_42095bb7f1.png" title="Tetra1" alt="esprite"></a>
            <br>
            <br> <a href="#">Tetra1™</a></div>
        <div class="light-item">
            <a href="#"><img src="/static/img/csm_ledbeam-150-fw-01_a851bae574.png" title="LEDBeam 150" alt="esprite"></a>
            <br> <a href="#">LEDBeam 150™ FW</a> </div>
    </div>
    <div class="footer">
        <hr>
        <div class="rights">
            <h6>&copy;«Все права защищены»</h6> </div>
    </div>
</body>

</html>